.user-table {
  background-color: rgba(155, 174, 202, 0.1);
  border-radius: 10px;
  
}

.user-table .ant-table-thead > tr > th {
  background-color: rgba(155, 174, 202, 0.1);
  font-weight: bold;
  font-size: 14px;
  color: black;
  padding: 12px 16px; 
  text-align: center;
}
.no-hover {
  height: 36px;
  border: 2px solid rgba(155, 174, 202, 0.1);
}
.filter-container button {
  padding: 10px 15px;
  border: 2px solid rgba(155, 174, 202, 0.1);
  cursor: pointer;
  border-radius: 8px;
  background-color: white;
  display: flex;
  gap: 10px;
}

.filter-container button:hover {
  background-color: #e0e0e0;
}

.user-table .ant-table-tbody > tr > td {
  font-size: 14px;
  color: #333;
  padding: 10px 16px;
  text-align: center;
  max-height: 60px;
}

.user-table .ant-table-tbody > tr:hover > td {
  background-color: #e6f7ff;
  transition: background-color 0.3s ease;
}

.user-table .ant-table-cell {
  text-align: center;
}

.user-table .ant-btn-primary:hover {
  background-color: #40a9ff;
}

.editDiv {
  display: flex;
  gap: 15px;
  justify-content: center;
}

.editIcon,
.deleteIcon {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.3s;
}

.editIcon {
  background-color: #28a745;
}

.editIcon:hover {
  background-color: #218838;
  transform: scale(1.1);
}

img.edit {
  width: 20px;
  height: 20px;
}

.deleteIcon {
  background-color: #ff3434;
}

.deleteIcon:hover {
  background-color: #c82333;
  transform: scale(1.1);
}

img.delete {
  width: 20px;
  height: 20px;
}

/* Title styles */
.QLTK {
  text-align: center;
  color: #27aae1;
  font-size: 25px;

  font-weight: bold;
  margin-bottom: 20px;
}
.password-style {
  max-width: 10px;
}
.search-boxUser{
  position: relative;
  width: 250px; 
  flex-direction: row;
}

.search-icon {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  pointer-events: none; 
}

.search-box-wrapper {
  position: relative;
  display: inline-block;
  width: 300px; 
  font-weight: bold;
;}

.search-input {
  width: 100%;
  padding: 10px 40px 10px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  height: 35px;
 
}
